body {
	min-width: 1000px !important;
	background-color: rgb(230, 231, 245);
	font-family: "meiryo UI", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

.div-main {
	width: 100%;
	height: 100%;
	margin-left: -1px;
	overflow: hidden !important;
	display: table;
}
#div-left-wrapper {
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #bdc3c7;
	display: table-cell;
	vertical-align: top;
}

#div-right-wrapper {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: table-cell;
}

.logo {
	background-color: rgb(66, 133, 244);
	width: 300px;
	height: 130px;
	padding: 5px;
	overflow: hidden;
	text-align: center;
}

.logo-img {
	height: 100%;
	width: 200px;
}

#history-title {
	font-size: 35px;
	margin-left: 7px;
}
.history-add {
	font-size: 30px;
	cursor: pointer;
}
#div-history {
	width: 100%;
	background-color: rgb(165, 213, 242);
	overflow: hidden;
}

.history-item {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	padding-left: 5px;
	padding-right: 3px;
	background-color: #1abc9c;
}

.history-item-text {
	width: 250px;
	height: 50px;
	font-size: 22px;
	padding: 10px;
	cursor: pointer;
	display: inline-block;
	word-wrap: break-word;
	overflow: hidden;
}

.search-box {
	background-color: rgb(66, 133, 244);
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.search-bar {
	height: 45px;
	width: 100%;
	margin: 28px 0px 0 35px !important;
}

#word-box {
	font-size: 25px;
	width: 510px;
	height: 45px;
	border: 0!important;
	margin-right: -5px !important;
	padding:5px;
	display: inline-block;
}
.search-btn {
	font-size: 25px !important;
	height: 45px;
	border: 0px;
	display: inline-block !important;
}

.dropdown-toggle {
	font-size: 18px !important;
	height: 34px !important;
	padding: 10px !important;
}

.icon-bell {
	height: 100%;
	width: 19px;
	padding-top: 16px;
	font-size: 16px !important;
	float: right;
	color: #f1c40f;
	text-align: center;
	cursor: pointer;
}
.icon-bell:hover {
	color: yellow;
}

.jv-inactive {
	color: grey;
}

.icon-delete {
	height: 100%;
	width: 19px;
	padding-top: 16px;
	float: right;
	text-align: center;
	color: #c0392b;
	cursor: pointer;
	font-weight: italic;
}
.icon-delete:hover {
	color: red;
}
div:hover {
	outline: 0px !important;
}

.setting-btn {
	float: right !important;
	cursor: pointer;
}
.jv-setting-switch {
	width: 240px !important;
}
.jv-setting-check {
	float: right !important;
}
.jv-checkbox {
	width: 80px !important;
	display: inline-block !important;
}

.jv-checkbox-group {
	margin-top: -5px;
}
.setting-div div {
	width: 360px;
	line-height: 30px;
	font-size: 16px;
}
.setting-div div input {
	width: 60px !important;
	height: 25px !important;
	float: right;
}
.result-box {
	width: 670px;
	padding: 10px;
	margin-bottom: 12px;
	background-color: #E4E4D2 !important;
}

.word {
	font-weight: bold !important;
	color: #640024 !important;
	font-size: 29px !important;
	line-height: 36px !important;
}

.keb {
	font-weight: bold !important;
	color: #0050EF !important;
	font-size: 26px !important;
	line-height: 32px !important;
}
.reb {
	color: #008000 !important;
	font-size: 24px !important;
	margin-left: 10px !important;
	line-height: 31px !important;
}
.re_restr {
	margin-left: 10px !important;
	font-size: 18px !important;
	line-height: 24px !important;
}
.re_restr-title {
	color: #AA00FF !important;
	font-size: 18px !important;
}

.xref-title {
	color: #BF5A15 !important;
	font-size: 18px !important;
}
.xref {
	margin-left: 10px !important;
	font-size: 18px !important;
}
.ant-title {
	color: #AA00FF !important;
	font-size: 18px !important;
}
.ant {
	margin-left: 10px !important;
	font-size: 18px !important;
}
.field {
	display: inline;
	color: #FA6800 !important;
	font-size: 18px !important;
}
.s_inf {
	color: #AA00FF !important;
	margin-left: 18px !important;
}
.pos {
	display: inline;
	color: #E51400 !important;
	font-size: 18px !important;
}
.gloss {
	color: black !important;
	font-size: 21px !important;
	margin-left: 18px !important;
	line-height: 27px !important;
}
.ja-example {
	display: inline;
	color: #d35400 !important;
	font-size: 18px !important;
	margin-left: 28px!important;
}
.ja-trans {
	margin-left: 52px !important;
	font-size: 18px !important;
	color:#7f8c8d!important;
}
.ja-mean {
	color: #2980b9 !important;
	font-size: 24px !important;
	margin-left: 14px !important;
	line-height: 27px !important;
}

.dial {
	display: inline;
	color: #BF5A15;
	font-size: 18px !important;
}
.no-result {
	display: inline;
	color: #bdc3c7;
	font-size: 100px;
}

.comp {
	color: #2980b9 !important;
	font-size: 21px !important;
	line-height: 30px !important;
}
.detail {
	color: #2c3e50 !important;
	font-size: 18px !important;
	margin-left: 18px !important;
	line-height: 26px !important;
}
.level {
	display: inline;
	color: #16a085!important;
	font-size: 20px !important;
}
.stroke_count {
	display: inline;
	color: #9b59b6!important;
	font-size: 20px !important;
}

.on {
	display: inline;
	color: #2980b9!important;
	font-size: 20px !important;
}

.kun {
	display: inline;
	color: #BF5A15!important;
	font-size: 20px !important;
}

.mean {
	display: inline;
	color: #008000!important;
	font-size: 21px !important;
	line-height: 33px !important;
}

.modal-search {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1001;
	height: 250px;
	width: 400px;
	margin-left: -200px;
	margin-top: -125px;
	background: rgba(255, 255, 255, .8) url('../../assets/image/loader_icon.gif') 170px 110px no-repeat;
	text-align: center;
	padding-top: 60px;
	color: #95a5a6;
	font-size: 22px;
}
.loading-search {
	overflow: hidden;
}
.loading-search .modal-search {
	display: block;
}
#draw-pad {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(165, 213, 242);
}
.draw-pad {
	visibility: hidden;
}
.kanji-draw {
	width: 100%;
	cursor: pointer;
}

.kanji-menu-bar {
	height: 45px;
	width: 100%;
	margin-top: -5px;
	padding: 5px;
	background-color: gray;
}

.element, .element-divider, .navigation-bar, .navigation-bar-content, .dropdown-toggle {
	height: 30px !important;
	line-height: 30px !important;
	font-size: 15px !important;
	padding: 0px 5px 0px 5px !important;
	background-color: rgb(66, 133, 244) !important;
	cursor: pointer;
}
.dropdown-toggle:after {
	margin-top: -12px !important;
}
#kanji-result {
	height: 100%;
	width: 485px;
	font-size: 30px;
	background-color: gray;
	display: inline-block;
	float: left;
	overflow: hidden;
}

#kanji-menu {
	height: 100%;
	width: 115px;
	background-color: gray;
	display: inline-block;
	float: right;
}

#kanji-menu button {
	background: none;
	margin-left: 3px;
	margin-top: 1px;
	padding: 2px;
	float: right;
}

#kanji-menu i {
	color: white;
	font-size: 28px;
}

.kanji-item {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	min-width: 40px;
	border-right: 1px solid white;
	padding: 1px;
}

.tab-control {
	width: 100%;
}
.tab {
	overflow: hidden;
}
.tab-control .frames {
	width: 100%;
}

.tab-control .frames .frame {
	padding: 6px !important;
}

.tabs li {
	margin-left: 0 !important;
}
.tabs li a {
	font-size: 22px;
	font-weight: bold;
	width: 226px;
}

.del-button {
	color: red !important;
}
.help-div {
	font-size: 16px;
	line-height: 20px;
}